.containerHome{
    background: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
}

.btnEnterDiv{
    position: absolute;
    
    z-index: 9999;
}

.btnEnter{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 60px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    z-index: 9999;

    a{
        color: white
    }
}



video{
    object-fit: cover;
}
